.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow_dwn_svg {
	font-size:(129/10)*1rem;
	width:(129/129)*1em;
}
.icon-arrow_r_svg {
	font-size:(129/10)*1rem;
	width:(129/129)*1em;
}
.icon-check_svg {
	font-size:(556/10)*1rem;
	width:(556/556)*1em;
}
.icon-close_svg {
	font-size:(512/10)*1rem;
	width:(320/512)*1em;
}
.icon-facebook_svg {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-heart_svg {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-instagram_svg {
	font-size:(511/10)*1rem;
	width:(511/511)*1em;
}
.icon-leaf_svg {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-logo_svg {
	font-size:(45/10)*1rem;
	width:(212/45)*1em;
}
.icon-menu_svg {
	font-size:(399.36/10)*1rem;
	width:(399.36/399.36)*1em;
}
.icon-place_svg {
	font-size:(430.11/10)*1rem;
	width:(430.11/430.11)*1em;
}
.icon-reload_svg {
	font-size:(489.53/10)*1rem;
	width:(489.53/489.53)*1em;
}
.icon-right_svg {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-scale_svg {
	font-size:(464.99/10)*1rem;
	width:(464.99/464.99)*1em;
}
.icon-search_svg {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-shopping-bag_svg {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-star2_svg {
	font-size:(19.5/10)*1rem;
	width:(19.5/19.5)*1em;
}
.icon-star_svg {
	font-size:(487.2/10)*1rem;
	width:(487.2/487.2)*1em;
}
.icon-user_svg {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-vk_svg {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-youtube_svg {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
